<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="suite_oftesting" parallel="tests" thread-count="5">
	<listeners> 
		<listener class-name="testNGTutorial.Listeners"/>
	</listeners>
	<parameter name="url" value="qaclickacademy.com"> </parameter>
	
	<test thread-count="5" name="Personal loan">
		<classes>
			<class name="testNGTutorial.day_2" />
			<class name="testNGTutorial.day_1"> <!--  specifier les fonctions qui vont etre appliqué seulement -->
			    <methods>
				    <exclude name="SecondTest"/> <!-- on peut utuliser Include en // de  Exclude ( ils sont de sens Opposees -->
			    </methods>
			</class>

		</classes>
	</test> <!--
	Test -->


	<test thread-count="5" name="Car loan">
		<classes>
			<class name="testNGTutorial.day_3" />

		</classes>
	</test> <!--
	Test -->


</suite> <!--
Suite -->





